.container {
  h1 {
    color: var(--secondary-color);
    font-size: 45px;
    font-size: 3.5vw;
    margin-left: 3rem;
  }
}
.tokensGrid {
  display: grid;
  padding: 3rem;
  margin-top: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    h1 {
      font-size: 1.7rem;
    }
  }
}